.container {
    color:#d1a207;
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    margin-bottom: 30pt;
  }
  .labelSwitch{
    position: relative;
    right: 30pt;
  }
  .toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    top: 8px;
  }
  .checkbox {
    display: none;
  }
  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2pt solid #d1a207;
    border-radius: 13pt;
    position: relative;
    bottom: 8px;
    margin-left: 20px;
    left: 40pt;
  }
  .inner {
    display: block;
    width: 100%;
    margin-left: -50%;
    transition: margin 0.3s ease-in 0s;
    
  }
  .inner:before,
  .inner:after {
    float: left;
    width: 20px !important;
    height: 20px;
    padding: 0;
    color: #fff;
    font-weight: bold;
  }
  .inner:before {
    content: "";
    padding-left: 6px;
    background-color: transparent;
  }
  .inner:after {
    content: "";
    padding-right: 6px;
    background-color: transparent;
    color: #fff;
    text-align: right;
  }
  .switch {
    display: block;
    width: 15px;
    margin: 2px;
    background: #d1a207;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  .checkbox:checked + .label .switch {
    right: 0px;
  }