/* ---------------------------------------------------
    FORMS INTERNAL DATE AND RANGE DATE
  ----------------------------------------------------- */

  #internal-date- .form-floating {
    position: relative;
    top: -6px;
  }
  
  #internal-date- .form-floating.update-date-historical- {
    position: relative;
    top: 0px !important;
  }
  
  #internal-date- .form-control.date {
    width: 130px !important;
    height: 40px !important;
    font-size: 14px !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 0rem !important;
    -webkit-border-radius: 0rem !important;
    -moz-border-radius: 0rem !important;
    -khtml-border-radius: 0rem !important;
    color: red !important;
  }
  
  #internal-date- .form-control.rangedate,
  #internal-date- .form-control.month {
    width: auto !important;
    height: 40px !important;
    font-size: 14px !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 0rem !important;
    -webkit-border-radius: 0rem !important;
    -moz-border-radius: 0rem !important;
    -khtml-border-radius: 0rem !important;
    color: red !important;
  }
  
  #internal-date- .form-control-plaintext {
    height: 35px !important;
    font-size: 14px !important;
    border-bottom: 1px solid var(--color-black-) !important;
    border-radius: 0rem !important;
    -webkit-border-radius: 0rem !important;
    -moz-border-radius: 0rem !important;
    -khtml-border-radius: 0rem !important;
    color: red !important;
  }
  
  #internal-date- .form-control:focus,
  #internal-date- .form-control-plaintext {
    border-bottom: 1px solid var(--color-black-) !important;
    color: red !important;
  }
  
  #internal-date- .input-group {
    position: relative;
    display: flex;
    flex-wrap: inherit !important;
    align-items: inherit !important;
    width: 100%;
  }
  
  #internal-date- .input-group-text {
    width: 35px;
    color: red;
    background-color: transparent !important;
    border: 1px solid var(--color-black-) !important;
    border-top: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-radius: 0rem !important;
  }
  
  #internal-date- .inner-addon- {
    width: 40px;
    height: 40px;
    color: red;
  }
  
  #internal-date- .left-addon- .fa {
    left: 0px;
    top: -1px;
  }
  
  #internal-date- input.form-control:focus~.fa {
    color: red !important;
  }
  
  #internal-date- .form-floating>label {
    color: red;
  }
  
  #internal-date- .form-floating>.form-control-plaintext~label,
  #internal-date- .form-floating>.form-control:focus~label,
  #internal-date- .form-floating>.form-control:not(:placeholder-shown)~label,
  #internal-date- .form-floating>.form-select~label {
    font-size: 14px !important;
    color: red !important;
  }
  
  #internal-date- .form-floating>.form-control-plaintext~label,
  #internal-date- .form-floating>.form-control:focus~label,
  #internal-date- .form-floating>.form-control:not(:placeholder-shown)~label,
  #internal-date- .form-floating>.form-select~label {
    font-size: 14px !important;
    color: red !important;
    opacity: 1 !important;
    transform: scale(.85) translateY(-1.4rem) translateX(-2.3rem) !important;
  }
  
  #internal-date- .form-floating>.form-control-plaintext:focus,
  #internal-date- .form-floating>.form-control-plaintext:not(:placeholder-shown),
  #internal-date- .form-floating>.form-control:focus,
  #internal-date- .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
    padding-left: 2.5rem;
  }
  
 
  
  .form-floating>.form-control:not(:placeholder-shown) *{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
      color:white !important;
      width: 100%;
      border: none;
      background-color: rgb(38, 38, 38) !important;
      box-shadow: 0 0 0px #8798ad !important;
  }
  .rmdp-selected{
      width: 80% !important;
      border-radius: 0px !important;
      border: none !important;
      color: red !important;
  }
  