/* ---------------------------------------------------
    FORMS INTERNAL DATE AND RANGE DATE
  ----------------------------------------------------- */

  
  .form-floating>.form-control:not(:placeholder-shown) *{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
      color:white !important;
      width: 100%;
      border: none;
      background-color: rgb(38, 38, 38) !important;
      box-shadow: 0 0 0px #8798ad !important;
  }
  .rmdp-selected{
      width: 80% !important;
      border-radius: 0px !important;
      border: none !important;
      color: red !important;
  }
  