/* ---------------------------------------------------
    NAVBAR STYLE
  ----------------------------------------------------- */

  .navbar {
    padding: 0 !important;
    background: transparent !important;
    margin-bottom: 40px;
  }
  
  .btn-collapse-sidebar- {
    width: 34px;
    height: 34px;
  }
  
  /* ---------------------------------------------------
      DROPDOWN USER
    ----------------------------------------------------- */
  
  #dropdown-user .dropdown-menu {
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    min-width: 230px !important;
  }
  
  #dropdown-user .dropdown-menu[data-bs-popper] {
    margin-top: 2rem !important;
  }
  
  #dropdown-user .list-group-item-action,
  .list-group-item-action {
    z-index: 1;
    color: var(--color-black-);
    text-decoration: none;
    background-color: var(--color-white-);
  }
  
  #dropdown-user .list-group-item-action:focus,
  .list-group-item-action:hover {
    z-index: 1;
    color: var(--color-black-) !important;
    text-decoration: none;
    background-color: var(--color-secondary-gray-) !important;
  }
  
  /* ---------------------------------------------------
      BADGES
    ----------------------------------------------------- */
  
  #dropdown-user .badge {
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -khtml-border-radius: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    top: 2px !important;
    left: 22px !important;
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    background-color: var(--color-red-) !important;
    border: 2px solid #FBF9FE;
  }
  
  /* ---------------------------------------------------
      PHOTO USER
    ----------------------------------------------------- */
  
  .photo-user- {
    width: 35px;
    height: 35px;
    color: #7A86A1;
  }
  
  .photo-user- img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -khtml-border-radius: 6rem;
    object-fit: cover;
  }
  
  /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
  .wrapper-search- .form-control {
    height: 50px !important;
    font-size: 14px !important;
    background-color: transparent !important;
    border-top: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    color: var(--color-tertiary-gray-) !important;
    background-color: var(--color-secondary-gray-) !important;
    font-family: var(--font-family-regular-) !important;
    border-radius: 50rem !important;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    border-radius: 50rem !important;
    -khtml-border-radius: 50rem !important;
  }
  
  .wrapper-search- .inner-addon- .fa {
    width: 40px;
    height: 38px;
    position: absolute;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    color: var(--color-tertiary-gray-);
  }
  
  input:focus~.fa {
    color: var(--color-tertiary-gray-) !important;
  }
  
  .wrapper-search- .form-search>.form-control-plaintext,
  .wrapper-search- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search- .form-search>.form-control,
  .wrapper-search- .form-search>.form-control:not(:placeholder-shown) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 2.5rem;
  }
  
  .wrapper-search- .form-search>.form-control-plaintext:focus,
  .wrapper-search- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search- .form-search>.form-control:focus,
  .wrapper-search- .form-search>.form-control:not(:placeholder-shown) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 2.5rem;
  }
  
  .wrapper-search- .search- {
    width: 358px;
  }
  
  .wrapper-search- .search-::placeholder {
    color: var(--color-tertiary-gray-) !important;
    font-family: var(--font-family-regular-) !important;
    font-size: 14px !important;
  }
  
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
  
  @media (min-width: 0px) and (max-width: 359.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 150px;
    }
  
  }
  
  @media (min-width: 360px) and (max-width: 575.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 150px;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 260px;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 300px;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 320px;
    }
  
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 340px;
    }
  
  }
  
  @media (min-width: 1400px) and (max-width: 1919.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 358px;
    }
  
  }
  
  @media (min-width: 1920px) and (max-width: 2699.98px) {
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search- .search- {
      width: 358px;
    }
  
  }

  /* ---------------------------------------------------
    REACT PAGINATE
  ----------------------------------------------------- */

.pagination {
    column-gap: 5px;
    margin-bottom: 0rem !important;
  }
  
  .page-link {
    position: relative;
    display: block;
    font-family: var(--font-family-regular-) !important;
    padding: 0 !important;
    font-size: 13px !important;
    color: white !important;
    text-decoration: none;
    background-color: var(--color-white-);
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    width: 45px !important;
    height: 35px !important;
    border-radius: 50rem !important;
    border: 0px solid transparent !important;
    text-align: center;
  }
  
  .page-link:hover {
    background-color: var(--color-secondary-gray-) !important;
  }
  
  .page-item.active .page-link {
    z-index: 0 !important;
    color: #000 !important;
    background-color: var(--color-purple-) !important;
    border-color: var(--color-purple-) !important;
  }