/* ---------------------------------------------------
    CONTENT STYLE
  ----------------------------------------------------- */

  #content- {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    padding: 40px 40px 40px 40px;
    min-height: 100vh;
    left: 280px;
    transition: all 0.3s;
    background-image: linear-gradient(to right, #050505, #1d1c1c);
    overflow: hidden;
  }
  
  #content-.active {
    width: calc(100% - 80px);
    left: 80px;
  }
  
  /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
  .wrapper-search-small- .form-control,
  .wrapper-search-large- .form-control {
    height: 40px !important;
    font-size: 14px !important;
    text-transform: initial !important;
    background-color: transparent !important;
    border-top: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    color: var(--color-tertiary-gray-) !important;
    background-color: var(--color-secondary-gray-) !important;
    font-family: var(--font-family-regular-) !important;
    border-radius: 50rem !important;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    border-radius: 50rem !important;
    -khtml-border-radius: 50rem !important;
  }
  
  .wrapper-search-small- .inner-addon- .fa,
  .wrapper-search-large- .inner-addon- .fa {
    width: 40px;
    height: 38px;
    position: absolute;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    color: var(--color-tertiary-gray-);
  }
  
  .wrapper-search-small- .left-addon- .fa,
  .wrapper-search-large- .left-addon- .fa {
    left: 0px;
    top: 2px;
  }
  
  input:focus~.fa {
    color: var(--color-tertiary-gray-) !important;
  }
  
  .wrapper-search-small- .form-search>.form-control-plaintext,
  .wrapper-search-small- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search-small- .form-search>.form-control,
  .wrapper-search-small- .form-search>.form-control:not(:placeholder-shown),
  .wrapper-search-large- .form-search>.form-control-plaintext,
  .wrapper-search-large- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search-large- .form-search>.form-control,
  .wrapper-search-large- .form-search>.form-control:not(:placeholder-shown) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 2.5rem;
  }
  
  .wrapper-search-small- .form-search>.form-control-plaintext:focus,
  .wrapper-search-small- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search-small- .form-search>.form-control:focus,
  .wrapper-search-small- .form-search>.form-control:not(:placeholder-shown),
  .wrapper-search-large- .form-search>.form-control-plaintext:focus,
  .wrapper-search-large- .form-search>.form-control-plaintext:not(:placeholder-shown),
  .wrapper-search-large- .form-search>.form-control:focus,
  .wrapper-search-large- .form-search>.form-control:not(:placeholder-shown) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 2.5rem;
  }
  
  .wrapper-search-small- .search-,
  .wrapper-search-large- .search- {
    width: 358px;
  }
  
  .wrapper-search-small- .search-::placeholder,
  .wrapper-search-large- .search-::placeholder {
    color: var(--color-tertiary-gray-) !important;
    font-family: var(--font-family-regular-) !important;
    font-size: 14px !important;
  }
  
  /* ---------------------------------------------------
      CARD NOTIFICATIONS
    ----------------------------------------------------- */
  
  #card-notifications.card {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    background-color: var(--color-secondary-white-) !important;
    box-shadow: var(--box-shadow-15-);
  }
  
  /* ---------------------------------------------------
      CARD NOTIFICATIONS - ADVERTISING IMAGE
    ----------------------------------------------------- */
  
  .advertising-image- {
    width: 100%;
    height: 150px;
  }
  
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
  
  @media (min-width: 0px) and (max-width: 359.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 20px 8px 20px 8px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search-,
    .wrapper-search-large- .search- {
      width: 100%;
    }
  
  }
  
  @media (min-width: 360px) and (max-width: 575.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 30px 12px 30px 12px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search-,
    .wrapper-search-large- .search- {
      width: 100%;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 30px 30px 30px 30px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 300px;
    }
  
    .wrapper-search-small- .search-,
    .wrapper-search-large- .search- {
      width: 100%;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 30px 30px 30px 30px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 300px;
    }
  
    .wrapper-search-large- .search- {
      width: 400px;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 40px 40px 40px 40px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 320px;
    }
  
    .wrapper-search-large- .search- {
      width: 400px;
    }
  
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 40px 40px 40px 40px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 270px;
    }
  
    .wrapper-search-large- .search- {
      width: 400px;
    }
  
  }
  
  @media (min-width: 1400px) and (max-width: 1919.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 40px 40px 40px 40px;
      width: calc(100% - 0px);
      left: 0px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 358px;
    }
  
    .wrapper-search-large- .search- {
      width: 400px;
    }
  
  }
  
  @media (min-width: 1920px) and (max-width: 2699.98px) {
  
    /* ---------------------------------------------------
      CONTENT STYLE
    ----------------------------------------------------- */
  
    #content- {
      padding: 40px 40px 40px 40px;
      width: calc(100% - 280px);
      left: 280px;
    }
  
    /* ---------------------------------------------------
      SEARCH NAVBAR
    ----------------------------------------------------- */
  
    .wrapper-search-small- .search- {
      width: 358px;
    }
  
    .wrapper-search-large- .search- {
      width: 400px;
    }
  
  }


  .ContainerDashboard{
    width: 100vw !important;
    min-height: 100vh !important;
  }
  .wrapper-sidebar- {
    display: flex;
    align-items: stretch;
  }
  .overflow-x-hidden{
    overflow: hidden;
  }