/* ---------------------------------------------------
    CARD - PORTFOLIO
  ----------------------------------------------------- */

  #card-portfolio .card {
    width: 192px;
    height: 261px;
    margin: 0 auto !important;
    transition: all 0.3s ease;
    padding: 0 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 0.938rem !important;
    -webkit-border-radius: 0.938rem !important;
    -moz-border-radius: 0.938rem !important;
    -khtml-border-radius: 0.938rem !important;
  }
  
  #card-portfolio .card .card-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #card-portfolio .card-img-overlay {
    color: var(--color-tertiary-white-);
  }
  
  #card-portfolio .card  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  #card-portfolio .card:hover  {
    transform: scale(1.05);
    background: rgb(222, 222, 222) !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  #card-portfolio .card.box-shadow-card-aplications {
    box-shadow: var(--box-shadow-15-);
  }
  
  #card-portfolio .card .text-decoration-underline- {
    border-bottom: 2px solid var(--color-white-);
  }
  
  /* ---------------------------------------------------
      SWIPER - PORTFOLIO
    ----------------------------------------------------- */
  
  .swiper-container-portfolio .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  
  .swiper-container-portfolio .swiper-wrapper .swiper-slide.swiper-slide-active #card-portfolio .card {
    width: 100%;
    max-height: auto !important;
    min-height: auto;
    margin: 0 auto;
    transform: scale(1.1);
    z-index: 2;
  }
  
  /* ---------------------------------------------------
      SWIPER - PORTFOLIO BULLETS HORIZONTAL (CUSTOMERS)
    ----------------------------------------------------- */
  

  
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
  
  @media (min-width: 0px) and (max-width: 359.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 192px;
      height: 261px;
    }
  
  }
  
  @media (min-width: 360px) and (max-width: 575.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 192px;
      height: 261px;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 192px;
      height: 261px;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 192px;
      height: 261px;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 182px;
      height: 250px;
    }
  
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 182px;
      height: 250px;
    }
  
  }
  
  @media (min-width: 1400px) and (max-width: 1919.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 182px;
      height: 250px;
    }
  
  }
  
  @media (min-width: 1920px) and (max-width: 2699.98px) {
  
    /* ---------------------------------------------------
      CARD - PORTFOLIO
    ----------------------------------------------------- */
  
    #card-portfolio .card {
      width: 192px;
      height: 261px;
    }
  
  }

  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-height: 100vh;
  }